#splash-header{
    background-image: url('../img/splashscreen.png');
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
}

header h1{
    color: white;
    font-size: 4rem;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Lucida Handwriting', cursive, sans-serif; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    z-index: 2;
}